@import url(./fonts/Inter.css);

* {
    background-color: #000;
    margin: 0;
    font-family: 'Inter';
}

.todo-inner {
    max-width: 1024px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.header__title {
    font-size: 55px;
    color: #fff;
    text-align: center;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: fit-content;
    margin: 0 auto;
}

.list__item {
    display: flex;
    padding: 0;
    margin: 0;
    width: 250px;
    border-radius: 10px;
    justify-content: center;
    position: relative;
}

.add__input {
    border: #fff 2px solid;
    border-radius: 10px;
    padding: 5px 6px;
    background-color: #fff;
}

.add__input::placeholder {
    color: black;
}

.list__item-text {
    background-color: transparent;
    padding: 0 5px;
    margin-right: 5px;
    min-width: 150px;
    background-color: gold;
    border-radius: 10px;
    text-align: center;
    position: relative;
    display: block;
}

.list__item-text_done {
    text-decoration: line-through;
}

.list__item-delete-button {
    background-image: url(../mesto/images/Group.png);
    background-size: 10px;
    background-repeat: no-repeat;
    background-position: center;
}

.list__item-add-button {
    background-image: url(./images/premium-icon-check-mark-3906842.png);
    background-size: 11px;
    background-repeat: no-repeat;
    background-position: center;
}

.list__item-button {
    border-radius: 15px 15px;
    margin: 0;
    padding: 0;
    height: 20px;
    width: 20px;
    background-color: purple;
    border: none;
}

.list__item-button:hover {
    background-color: green;
    opacity: 0.9;
}

.list {
    display: flex;
    flex-direction: column;
    row-gap: 3px;
    margin-top: 10px;
    padding: 0;
    border-radius: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.form__button-add {
    border-radius: 10px;
    border: 2px solid white;
    color: #fff;
    padding: 5px 6px;
    background-color: purple;
    transition: all ease-in-out .2s;
}

.form__button-add:hover {
    opacity: 0.3;
}

.input__btn_disabled {
    background-color: mediumslateblue;
}
